#contenedor{

    display: flex;

}
.pieza{
    width: 300px;
    border: 3px solid green;
    border-radius: 2px;
    float: left;
    background: black;



}
img{

    width: 100%;
}

section{
    width: 50%;
}
