#contenedor{
background-image: url("./img/bosque.jpg");
    display: flex;
    background-size: 100%;
    height: 680px;

}
.pieza ,.pega{
    width: 300px;
    border: 3px solid green;
    border-radius: 2px;
    float: left;
    height: 310px;
}
img{
    width: 100%;
}

p {
    color: white;
}
header{
    background-image: url("./img/grulla.jpg");
    height: 80px;
    background-size:contain;
    border: 3px solid green;
}
h1{
    color: green;
}
#instruccion{
    background-color:grey;
    align-content: center;
    width: 10%;
    height: 280px;
    border: 3px solid green;
    top: 200px;
    position: relative;
    right: 90px;
}

